@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}

.slick-slide img{
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  margin-left:-22rem !important;
}
/* .getapp-bg{
  background: url('././assets/getbackg.svg');
} */


.nav{

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  padding: 2rem;
  height: fit-content;
  transition: .5s ease;
  transform: translateX(-100%);

}

.nav-responsiveness{
  transform: translate(0);
}